<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 配置生成器 -->
<generatorConfiguration>

    <properties resource="project.properties"/>

    <context id="tableBuilder" defaultModelType="flat"
             targetRuntime="org.designer.mybatis.ext.IntrospectedTableMyBatis3DynamicSqlImplV3"
             introspectedColumnImpl="org.mybatis.generator.api.IntrospectedColumn">

        <property name="modelName" value="${modelName}"/>
        <property name="tableName" value="${tableName}"/>
        <property name="modelSuperClass" value="${modelSuperClass}"/>

        <property name="serviceProject" value="${serviceProject}"/>
        <property name="javaServicePackage" value="${javaServicePackage}"/>

        <property name="serviceImplProject" value="${serviceImplProject}"/>
        <property name="javaServiceImplPackage" value="${javaServiceImplPackage}"/>

        <property name="serviceSuperClass" value="org.designer.mybatis.base.service.IService"/>
        <property name="serviceImplSuperClass" value="org.designer.mybatis.base.service.impl.IServiceImpl"/>

        <!--xml生成存放的位置-->
        <property name="sqlMapPackage" value="${javaModelPackage}"/>

        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="org.designer.mybatis.plugins.model.SwaggerAnnotationPlugin"/>
        <plugin type="org.designer.mybatis.plugins.mapper.BaseMapperPlugin"/>
        <plugin type="org.designer.mybatis.plugins.mapper.BaseMapperMethodPlugin"/>

        <commentGenerator type="org.mybatis.generator.internal.DefaultCommentGenerator">
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="false"/>
            <property name="addRemarkComments" value="true"/>
            <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.186.128:3306/xxl_job?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai"
                        userId="root"
                        password="Onlyyouroo@@@">
        </jdbcConnection>

        <javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
            <property name="forceBigDecimals" value="true"/>
            <property name="useJSR310Types" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="${javaModelPackage}"
                            targetProject="${modelProject}">
            <property name="constructorBased" value="false"/>
            <property name="enableSubPackages" value="true"/>
            <property name="immutable" value="false"/>
            <property name="rootClass" value="${modelSuperClass}"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <!--xml-->
        <sqlMapGenerator targetPackage="${sqlMapPackage}"
                         targetProject="${sqlMapProject}">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="${javaClientPackage}"
                             targetProject="${clientProject}"
                             type="">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="${tableName}">
            <property name="constructorBased" value="false"/>
            <property name="ignoreQualifiersAtRuntime" value="false"/>
            <property name="immutable" value="false"/>
            <property name="modelOnly" value="false"/>
            <property name="useActualColumnNames" value="false"/>
            <columnOverride column="job_group" property="jobGroup">
                <property name="property" value="job_group"/>
            </columnOverride>
        </table>
    </context>

</generatorConfiguration>